.root {
    -fx-background-color: gold;
}

.label {
    -fx-font-size: 40;
    -fx-alignment: center;
}

.gameTile {
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-min-height: 100;
    -fx-max-height: 100;
    display: block;
    -fx-border-style: none;
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

.hidden {
    visibility: hidden;
}